{% extends 'skeleton.html' %}

{% block body %}

<div style="background-color: #dddddd;">
<table class="menu" style="width: 100%;">
  <tr>
    <td style="text-align: right;">
      <a{% block home_menu %}{%endblock%} href="{{ url_for('home') }}">Dragonslayer</a>
      <a{% block faq_menu %}{%endblock%} href="{{ url_for('faq') }}">FAQ</a>
    </td>
  </tr>
</table>
</div>

{% block content %}
{% endblock %}

<div style="background-color: #dddddd;">
    <div>
      <h2>Operation-dragonslayer.com</h2>
      Operated by a secret group of crypto enthusiasts.<br>
    </div>
</div>


{% endblock %}
