{% extends 'base.html' %}

{% block title %}Bitcoin Charts{% endblock %}

{% block charts_menu %} class="active"{%endblock%}

{% block content %}

<div>

<h2>Bitcoin Charts</h2>

<p>
Lalala...
</p>

<div class="chart-placeholder" style="height: 500px;">
</div>
<div class="chart-footer">
</div>

<script>

	$(function () {
	    function normalize(series) {
            min_x = Number.MAX_SAFE_INTEGER;
            max_x = -Number.MAX_SAFE_INTEGER;
            
            $.each(series, function(id, obj) {
                if (obj[1] < min_x) {
                    min_x = obj[1];
                }
                if (obj[1] > max_x) {
                    max_x = obj[1];
                }
            })

            $.each(series, function(id, obj) {
                x = obj[1];
                //x = x - min_x;
                if (max_x != 0) {
                    x = parseInt(1000000 * x / (max_x))
                } else {
                    x = 500000;
                }
                series[id][1] = x;
            })
            
	    }
	
	    function refresh() {
	    
            $.getJSON("/charts/bitcoin/data", function(result) {
                params = [];
                $.each(result.labels, function(id, label) {
                    params.push({
                        "label": label,
                        "data": []
                    });
                });
                $.each(result.data, function(id, series) {
                    $.each(series, function(id2, obj) {
                        params[id]["data"].push(
                            [Date.parse(obj[0]), obj[1]]
                        );
                    })
                    normalize(params[id]["data"]);
                })

		        $.plot(".chart-placeholder", params, {
                    xaxis: {
                        mode: "time",
                        timeformat: "%Y-%m-%d",
                        tickSize: [365, "day"]
                    },
			        series: {
				        lines: { show: true },
				        points: { show: true }
			        },
			        grid: {
				        backgroundColor: { colors: [ "#fff", "#eee" ] },
				        borderWidth: {
					        top: 1,
					        right: 1,
					        bottom: 2,
					        left: 2
				        }
			        }
		        });
		        $(".chart-footer").prepend("Flot " + $.plot.version);	    

                            
            });

	    }

        refresh();
	});

</script>

{% endblock %}
