{% extends 'base.html' %}

{% block title %}The Plot to Destroy Bitcoin{% endblock %}

{% block home_menu %} class="active"{%endblock%}

{% block content %}

<div>

<h2>Operation Dragonslayer - The Plot to Destroy Bitcoin</h2>

<p>
If you reached this page it probably means Operation Dragonslayer is alreaady happening. Even though you will probably lose some of your wealth short-term, just by finding this site can help you greatly long-term.
</p>

<h3>History of events</h3>
<pre style="text-align: left;">
 2017-01-01 - PRESENT
   Pumping Bitcoin on the expense of Bitcoin Cash
   (See FAQ for more info)
</pre>

<h3>Pumpers and dumpers</h3>
The % change of ALTS is computed by the actual change minus % change of BTC.

<h4>1H pumpers</h4>
<pre class="1h-pump" style="text-align: left;">
</pre>

<h4>1H dumpers</h4>
<pre class="1h-dump" style="text-align: left;">
</pre>

<h4>24H pumpers</h4>
<pre class="24h-pump" style="text-align: left;">
</pre>

<h4>24H dumpers</h4>
<pre class="24h-dump" style="text-align: left;">
</pre>

<h4>7D pumpers</h4>
<pre class="7d-pump" style="text-align: left;">
</pre>

<h4>7D dumpers</h4>
<pre class="7d-dump" style="text-align: left;">
</pre>

</div>

<script>

$(function() {

    function format_change(data) {
        var s = "";
        
        $.each(data, function(id, el) {
            s += el.name;
            s += " ";
            s += "<b>" + (Math.round(parseFloat(el.change) * 100) / 100) + "%</b>";
            s += "<br>";
        });
        
        return s;
    }

    function refresh() {
        $.getJSON("https://api.coinmarketcap.com/v1/ticker/?limit=100", function(data) {

            var pumps_1h = [];
            var dumps_1h = [];
            var pumps_24h = [];
            var dumps_24h = [];
            var pumps_7d = [];
            var dumps_7d = [];
            
            var btc_1h = 0;
            var btc_24h = 0;
            var btc_7d = 0;
            $.each(data, function(id, el) {
                if (el.name == "Bitcoin") {
                    btc_1h = parseFloat(el["percent_change_1h"]);
                    btc_24h = parseFloat(el["percent_change_24h"]);
                    btc_7d = parseFloat(el["percent_change_7d"]);
                }
            })
            
            $.each(data, function(id, el) {
                change_1h = parseFloat(el["percent_change_1h"]);
                change_24h = parseFloat(el["percent_change_24h"]);
                change_7d = parseFloat(el["percent_change_7d"]);
                
                if (el.name != "Bitcoin") {
                    change_1h -= btc_1h;
                    change_24h -= btc_24h;
                    change_7d -= btc_7d;
                }
                
                if (change_1h > 5) {
                    pumps_1h.push({"name": el["name"], "change": change_1h});
                }                
                if (change_1h < -5) {
                    dumps_1h.push({"name": el["name"], "change": change_1h});
                }                                
                if (change_24h > 10) {
                    pumps_24h.push({"name": el["name"], "change": change_24h});
                }                
                if (change_24h < -10) {
                    dumps_24h.push({"name": el["name"], "change": change_24h});
                }                
                if (change_7d > 15) {
                    pumps_7d.push({"name": el["name"], "change": change_7d});
                }                
                if (change_7d < -15) {
                    dumps_7d.push({"name": el["name"], "change": change_7d});
                }                
            });

            $(".1h-pump").animate({opacity: 0.5}, 1000).html(format_change(pumps_1h)).animate({opacity: 1.0}, 500);
            $(".1h-dump").animate({opacity: 0.5}, 1000).html(format_change(dumps_1h)).animate({opacity: 1.0}, 500);
            $(".24h-pump").animate({opacity: 0.5}, 1000).html(format_change(pumps_24h)).animate({opacity: 1.0}, 500);
            $(".24h-dump").animate({opacity: 0.5}, 1000).html(format_change(dumps_24h)).animate({opacity: 1.0}, 500);
            $(".7d-pump").animate({opacity: 0.5}, 1000).html(format_change(pumps_7d)).animate({opacity: 1.0}, 500);
            $(".7d-dump").animate({opacity: 0.5}, 1000).html(format_change(dumps_7d)).animate({opacity: 1.0}, 500);
        })
    }

    refresh();
    setInterval(refresh, 10000);

})

</script>

{% endblock %}
