<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="9Ax3Mm6szTB17OXTTB4-srHWajCKZQMpY6Sxi2rFVtM" />

  <title>{% block title %}{% endblock %} | Operation Dragonslayer</title>

  <link rel="stylesheet" href="/static/new/style.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

  <link rel="stylesheet" href="/static/new/owl/owl.carousel.css">
  <link rel="stylesheet" href="/static/new/owl/owl.theme.default.css">

  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
  </script>
  <script src="/static/jquery.flot.js"></script>
  <script src="/static/jquery.flot.time.js"></script>
  <script src="/static/new/owl/owl.carousel.js"></script>  
  
</head>

<body>

<a href="https://github.com/jurev/operation-dragonslayer.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

  <div style="text-align: center">

  <div class="container" style="background-color: black; color: white">
  <b>
     WARNING: A friendly advice to crypto users.
     Word on the street is there's going to be a powerful attack on the Bitcoin network this year.
     Code name for the attack is "Operation Dragonslayer".
     Holding large quantities of fiat money or coins on exchanges is not recommended.
     Untill this is resolved we advise storing your wealth offline.
  </b>
  </div>

    <div class="container">
        {%block body%}{% endblock %}
    </div>
  </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-582655-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-582655-17');
</script>
    
</body>
</html>
