<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yours.org Rank</title>

  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  
  <script src="/static/jquery.flot.js"></script>
  <script src="/static/jquery.flot.time.js"></script>
  <script src="/static/jquery.flot.dashes.js"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>


  <script src="/static/misc/pagerank.js"></script>
  <script src="/static/misc/rank.js"></script>
  
</head>

<body>

<h3>Yours.org Flow</h3>
<div class="rank-container">
    <table>
      <thead>
        <tr>
            <th>
                Flow
            </th>
            <th>
                Rank
            </th>
            <th>
                Weight
            </th>
            <th>
                Votes (IN)
            </th>
            <th>
                Votes (OUT)
            </th>
            <th>
                Rank (LOG2)
            </th>
            <th>
                Rank (REL)
            </th>
            <th>
                Rank (ABS)
            </th>
            <th>
                Name
            </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>

<h4>Weight per Votes (IN)</h4>
<div class="gauss-container" style="height: 300px;">
</div>

<script type="text/javascript">


    $(function() {
        run(render);        
    })

</script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-582655-17"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-582655-17');
</script>
    
</body>
</html>




